@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,600,700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* 
  =================
  VARIABLES 
  =================
  */

  --clr-primary-1: hsl(185, 62%, 45%);
  --clr-primary-2: hsl(184, 80%, 74%);
  --clr-primary-3: hsl(186, 100%, 94%);

  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(209, 34%, 30%);
  --clr-grey-3: hsl(209, 28%, 39%);
  --clr-grey-4: hsl(210, 22%, 49%);

  /* THEME BUTTON COLOR */
  --btn-dark: rgb(69, 57, 198);
  --btn-light: rgb(96, 83, 240);
  
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);

  --ff-primary: 'Roboto', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --borderRadius-medium: 6px;
  --borderWidth-thin: max(1px, 0.0625rem);
  --max-width: 1170px;
  --fixed-width: 620px;

  --_hue: 245;
  /* Light Mode */
  --bg--light: var(--_hue) 30% 94%;
  --txt--light: var(--_hue) 40% 5%;

  /* Dark Mode */
  --bg--dark: var(--_hue) 15% 10%;
  --txt--dark: var(--_hue) 30% 88%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg--light);
    --txt: var(--txt--light);
    color-scheme: light;
  }
}

:root[color-scheme="dark"] {
  --bg: var(--bg--dark);
  --txt: var(--txt--dark);
  color-scheme: dark;
}

:root[color-scheme="light"] {
  --bg: var(--bg--light);
  --txt: var(--txt--light);
  color-scheme: light;
}

/*==================
  GLOBAL STYLES
===================*/

::-webkit-scrollbar{
  height: 0;
  width: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  font-family: var(--ff-primary);
  background-color: hsl(var(--bg));
  color: hsl(var(--txt));
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  padding-bottom: 2rem;
  position: relative;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-weight: 100;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*==================
  Global Classes 
====================*/

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-primary-3);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  background: var(--clr-primary-2);
  color: var(--clr-primary-1);
}

.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}